# app/config/security.yml
imports:
    - { resource: "@siteadminBundle/Resources/config/security.yml" }

security:
    encoders:
        FOS\UserBundle\Model\UserInterface: sha512

    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: ROLE_ADMIN
